h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 42px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: 1.1px;
    color: var(--dusk);
}

@media (max-width: 1020px) {
    h1 {
        font-size: 36px;
    }
}

.h1-underscore-lista {
    width: 100%;
    height: 2px;
    background-color: var(--beige);
}

#authors-banner {
    background: url("../img/braulio-banner.png") center center no-repeat;
    background-size: cover;
    min-height: 640px;
}

@media (min-width: 1024px) {
    #authors-banner {
        min-height: 304px;
        background: url("../img/braulio-banner.png") center center no-repeat;
        background-size: cover;
    }
}

#authors-thumbs .card {
    border: none;
}

#authors-container .nav-link {
    padding: 0.5rem 0.8rem;
}

.authors-img-rounded {
    max-width: 80px;
    display: inline-block;
}

.authors-img-rounded img {
    max-width: 80px;
}

#authors-container .body {
    display: inline-block;
}

#related-authors .body {
    display: inline-block;
    max-width: 52%;
}

#related-authors .body-mobile {
    display: inline-block;
    max-width: 75%;
}

@media (max-width: 1020px) {
    #authors-container .authors-img-rounded {
        max-width: 40px;
        display: inline-block;
    }
    #authors-container .authors-img-rounded img {
        max-width: 40px;
    }
    #related-authors .authors-img-rounded.related-authors {
        max-width: 40px;
        display: inline-block;
    }
    #related-authors .authors-img-rounded.related-authors img {
        max-width: 40px;
    }
    #related-authors .body {
        max-width: 100%;
    }
    #authors-container .body {
        width: 85%;
    }
}

.linear-fade-box {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 150px 0;
    background-image: linear-gradient(to bottom, transparent, white);
}

.bp1-mobile {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: center;
    color: var(--greyish-brown);
}

#inside-authors-books {
    background-color: var(--off-white);
}

#authors-thumbs .card {
    background-color: transparent;
}

#inside-authors-books .card .card-body {
    background-color: var(--off-white);
}

.blog-card-row {
    height: 55%;
}

.blog-card-row .card {
    height: 100%;
    border: none;
}

.blog-card-row .card.card-thumb .card-img-top {
    height: 214px;
}

#btn-newsletter {
    height: 48px;
    width: 243px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3.1px;
    text-align: center;
    color: var(--dusk);
}

#newsletter-email {
    height: 48px;
}

.books-of {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: var(--dusk);
}

.btn-profile {
    width: 243px;
}

.order-dropdown {
    width: 145px !important;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.8px;
    text-align: left;
    color: var(--dusk);
    border: none;
    border-bottom: 1px solid var(--beige);
    border-radius: 0;
}

.btn-filter {
    font-family: 'Lato', sans-serif;
    background-color: transparent;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.8px;
    text-align: left;
    color: var(--dusk);
}

.page-item {
    border: none;
}

.arrow-inverse {
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.Mobilebh3.active {
    font-weight: bold;
}