#blog-header {
    background: url("../img/blog-header-mobile.png") center center no-repeat;
    background-size: cover;
    min-height: 609px;
}

@media (min-width: 1024px) {
    #blog-header {
        min-height: 609px;
        background: url("../img/blog-header.png") center center no-repeat;
        background-size: cover;
        padding-left: 27px;
        padding-right: 27px;
    }
}

.tag-news-header {
    width: 29%;
}

@media (max-width: 1020px) {
    .tag-news-header {
        width: 45%;
    }
}

#blog-header .row {
    padding-top: 11rem;
}

@media (max-width: 1020px) {
    #blog-header .row {
        padding-top: 23rem;
    }
}

.showall-arrow {
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#btn-notifications {
    height: 48px;
    width: 328px;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 3.1px;
}

.tag-news-interna {
    width: initial;
}

.h1-interna {
    font-family: 'Roboto Slab', serif;
    font-size: 42px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: 1.1px;
    text-align: left;
    color: var(--dusk);
}

.counter {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.12;
    letter-spacing: 0.5px;
    text-align: center;
    color: var(--greyish-brown);
    vertical-align: middle;
}

.h3-blog {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.31;
    letter-spacing: 0.5px;
    text-align: left;
    color: var(--dusk);
    max-width: 610px;
}

.blockquote {
    padding-left: 7rem;
}

@media (max-width: 1020px) {
    .h3-blog {
        font-size: 22px;
        line-height: 1.31;
        letter-spacing: 0.5px;
    }
    .bp3 {
        letter-spacing: 0.5px;
    }
    .bp3_italic {
        font-family: 'Lato', sans-serif;
        font-size: 17px;
        font-weight: bold;
        font-style: italic;
        font-stretch: normal;
        line-height: 1.88;
    }
    .blockquote {
        padding-left: 2rem;
    }
}

#post p::first-letter {
    font-size: 48px;
    vertical-align: bottom;
    line-height: 1.1em;
}

#post p.no-capital::first-letter {
    font-size: inherit;
    vertical-align: inherit;
    line-height: inherit;
}

.txt-link {
    color: var(--dusk);
}

.galery-counter {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: var(--dusk);
}

.txt-list {
    color: var(--beige);
    font-size: 30px;
    line-height: 30px;
}

.txt-list li {
    padding: 6px;
}

#author {
    height: 319px;
    border-radius: 5px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--off-white);
}

@media (max-width: 1020px) {
    #author {
        height: 263px;
    }
}

.author-img img {
    max-width: 80px;
}

@media (max-width: 1020px) {
    .author-img img {
        max-width: 40px;
    }
}

.author-txt {
    max-width: 399px;
}

#off-white-box {
    background-color: var(--off-white);
}

#off-white-box .box {
    border-radius: 5px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    height: 370px;
    padding: 3rem;
}

.related-title {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.12;
    letter-spacing: 0.5px;
    color: var(--dusk);
}

.btn-knowthebook {
    width: 225px;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 20px;
    letter-spacing: 2.8px;
    text-align: center;
    color: var(--beige);
}

@media (max-width: 1020px) {
    .btn-knowthebook {
        line-height: 30px;
    }
}

.comments-box {
    height: 227px;
    border-radius: 5px;
    background-color: var(--off-white);
}

.comment-internal {
    width: 80%;
}

.comments-textarea {
    width: 558px !important;
    height: 59px;
    background-color: #ffffff;
}

.blog-card-row {
    height: 55%;
}

.blog-card-row .card {
    height: 100%;
    border: none;
}

.blog-card-row .card.card-thumb .card-img-top {
    height: 214px;
}

#mobile-image {
    background: url(../img/blog-interna-mobile.png) center center no-repeat;
    background-size: cover;
    min-height: 476px;
}

.bsubtitle-mobile {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: left;
    color: var(--greyish-brown);
}

.mobilebox {
    border-radius: 5px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}

.related-name {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: center;
    color: var(--greyish-brown);
}