.search-authors {
    padding-bottom: 6rem;
}

.search-books {
    padding-bottom: 6rem;
}

@media (max-width: 1020px) {
    .search-authors {
        padding-bottom: 4rem;
    }
    
    .search-books {
        padding-bottom: 4rem;
    }
}
.card {
    border: none;
}