h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 52px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: 1.3px;
    text-align: left;
    color: var(--dusk);
}

.h1-mobile {
    font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.9px;
  color: var(--dusk);
}

a {
    font-weight: bold;
}

#contact-form .form-control::-moz-placeholder {
    color: var(--dusk);
    opacity: 0.6;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: var(--dusk);
}

#contact-form .form-control:-ms-input-placeholder {
    color: var(--dusk);
    opacity: 0.6;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: var(--dusk);
}

#contact-form .form-control::-webkit-input-placeholder {
    color: var(--dusk);
    opacity: 0.6;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: var(--dusk);
}

#contact-form .form-control {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: 2.8px;
    text-align: left;
    color: var(--dusk);
}

#contact-form .form-control.message {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: 1px;
    text-align: left;
    color: var(--greyish-brown);
}

#contact-form .form-control {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: solid 2px var(--beige);
    padding-left: 0;
}

#contact-form .form-control:focus {
    /* border-color: #cccccc; */
    -webkit-box-shadow: none;
    box-shadow: none;
}

#contact-form .form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

#contact-form .form-label-group>input,
#contact-form .form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

#contact-form label {
    font-family: Lato;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: var(--dusk);
}
#contact-form .form-label-group>label {
    position: absolute;
    top: 0.5rem;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 1px;
    color: var(--dusk);
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

#contact-form .form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

#contact-form .form-label-group input:-ms-input-placeholder {
    color: transparent;
}

#contact-form .form-label-group input::-ms-input-placeholder {
    color: transparent;
}

#contact-form .form-label-group input::-moz-placeholder {
    color: transparent;
}

#contact-form .form-label-group input::placeholder {
    color: transparent;
}

#contact-form .form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

#contact-form .form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    top: -5px;
    font-size: 9px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.8px;
    text-align: left;
    color: var(--dusk);
}

.btn-contact {
    width: 174px;
    height: 48px;
}