h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 42px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.48;
    letter-spacing: 1.1px;
    color: var(--dusk);
}

@media (max-width: 1020px) {
    h1 {
        font-size: 36px;
    }
}

.thumb-title {
    max-width: 72%;
}

.Mobilebh3.active {
    font-weight: bold;
}

@media (max-width: 1020px) {
    .bh3 {
        font-size: 26px;
        font-weight: normal;
        line-height: 1.12;
        letter-spacing: 0.5px;
    }

    .h1-underscore {
        width: 70px;
    }
}

.img-events-mobile {
    max-width: 328px;
    max-height: 198px;
}

#event-details h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 42px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.24;
    letter-spacing: 1.1px;
    text-align: left;
    color: var(--dusk);
}

@media (max-width: 1020px) {
    #event-details h2 {
        font-family: 'Roboto Slab', serif;
        font-size: 36px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: 0.9px;
        text-align: center;
        color: var(--dusk);
    }
}

#book-details-box {
    background-color: var(--off-white);
}

.book-card {
    border-radius: 5px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    padding: 4rem 4rem 4rem 2rem !important;
}

#book-details-box h2 {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.12;
    letter-spacing: 0.5px;
    text-align: left;
    color: var(--dusk);
}

.btn-book {
    font-family: 'Lato', sans-serif;
    width: 225px;
    height: 34px;
    opacity: 0.8;
    border-radius: 24px;
    background-color: var(--dusk);
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.8px;
    text-align: center;
    color: var(--beige);
}

.counter {
    position: relative;
    bottom: -50px;
}

.card {
    border: none;
}

.btn-event-mobile {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 48px;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.8px;
    text-align: center;
    color: var(--beige);
    border-radius: 24px;
    background-color: var(--dusk);
}

.card h3 {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.32;
    letter-spacing: 0.4px;
    text-align: center;
    color: var(--dusk);
}

.card h4 {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: center;
    color: var(--greyish-brown);
}