h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 52px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.1;
    letter-spacing: 1.3px;
    text-align: left;
    color: var(--dusk);
}

.h1-mobile {
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.9px;
  text-align: center;
  color: var(--dusk);
}