@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto+Slab:300,400,700');
@import "bootstrap-sextante.css";
@import "colors.css";
@import "fonts.css";
/* RESET */

a,
a:hover {
    color: inherit;
}

body {
    overflow-x: hidden;
}

/* HEADER START */

#header {
    background: url("../img/capa_1_b.png") center center no-repeat;
    background-size: cover;
    min-height: 640px;
}

@media (min-width: 1024px) {
    #header {
        min-height: 768px;
        background: url("../img/header-1.png") center center no-repeat;
        background-size: cover;
        padding-left: 27px;
        padding-right: 27px;
    }
}

@media (max-width: 1020px) {
    #navbar {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
    }
}

#logo-mobile {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-toggler {
    border-color: transparent !important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("../img/hamburguer_white.svg");
}

#inside-navbar {
    height: 91px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    max-width: 100%;
}

@media (max-width: 1020px) {
    #inside-navbar {
        height: 58px;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        max-width: 100%;
    }
}

@media (max-width: 1020px) {
    #inside-navbar #logo {
        max-width: 36px;
    }
}

#inside-navbar .form-control::-moz-placeholder {
    color: var(--dusk);
    opacity: 0.6;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: 0.4px;
    text-align: left;
    color: var(--dusk);
}

#inside-navbar .form-control:-ms-input-placeholder {
    color: var(--dusk);
    opacity: 0.6;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: 0.4px;
    text-align: left;
    color: var(--dusk);
}

#inside-navbar .form-control::-webkit-input-placeholder {
    color: var(--dusk);
    opacity: 0.6;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.23;
    letter-spacing: 0.4px;
    text-align: left;
    color: var(--dusk);
}

#inside-navbar .navbar-toggler-icon {
    background-image: url("../img/inside-hamburguer.svg");
}

.form-control::-moz-placeholder {
    color: var(--beige);
}

.form-control:-ms-input-placeholder {
    color: var(--beige);
}

.form-control::-webkit-input-placeholder {
    color: var(--beige);
}

#input-search {
    color: var(--beige) !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--beige);
}

#newsletter-email {
    opacity: 0.6;
    text-align: center;
    color: var(--beige) !important;
    background-color: rgba(0, 0, 0, 0) !important;
    border: none !important;
    border-bottom: 2px solid var(--beige) !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: 0.3px;
    border-radius: 0;
}

#btn-search {
    background-color: transparent !important;
    background-image: none !important;
    border-color: transparent !important;
}

#navbar {
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

@media (min-width: 1024px) {
    .m-logo {
        margin-left: 84px;
        padding-left: 4rem;
    }
}

.banner-menu .nav-item {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: left;
    color: rgba(255, 255, 255, .6);
    background-color: transparent !important;
    padding-left: 0;
    border-top: 1px solid rgba(255, 255, 255, .5);
}

.banner-menu .nav-item.active {
    border-top: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
}

/* HEADER END */

.home-category-menu .nav-item {
    opacity: 0.6;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.8px;
    text-align: left;
    color: var(--dusk);
    background-color: transparent !important;
    padding-bottom: 1rem;
}

.home-category-menu.menu-mobile .nav-item {
    text-align: center;
    width: 30%;
    letter-spacing: 2px;
}

.home-category-menu .nav-item.active {
    border-bottom: 2px solid #ecdec0;
    color: var(--dusk);
    opacity: 1;
}

#home-card-carroussel .card-deck::-webkit-scrollbar {
    display: none;
}

.card-deck .card {
    background-color: #e0e0e0;
    border: none;
    border-radius: 0 !important;
}

.card-deck .card.card-blog {
    background-color: transparent;
    border: none;
    border-radius: 0 !important;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
}

.card-deck .card .card-body {
    background-color: #ffffff;
}

.card-deck .card .card-text {
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: 0.3px;
    text-align: left;
    color: var(--greyish-brown);
    margin-bottom: .5rem;
}

.card-deck .card .card-subtitle {
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.47;
    letter-spacing: 0.7px;
    text-align: left;
    color: var(--greyish-brown);
}

#home-card-carroussel .card-deck {
    overflow-x: scroll;
    white-space: nowrap;
}

#home-card-carroussel .card-deck.card-mobile {
    flex-direction: row;
    white-space: normal;
}

.btn-dusk {
    border-radius: 24px;
    background-color: var(--dusk);
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 2rem;
    letter-spacing: 2.8px;
    text-align: center;
    color: var(--beige);
}

.btn-beige {
    border-radius: 24px;
    background-color: var(--beige);
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 21px;
    letter-spacing: 3.1px;
    text-align: center;
    color: var(--dusk);
}

.home-container-border {
    border-bottom: 1px solid var(--beige);
}

.home-container-border-end {
    border-bottom: 1px solid var(--beige);
}

@media (max-width: 1020px) {
    .home-container-border-end {
        border-bottom: none;
    }
}

.h2-underscore {
    height: 2px;
    background-color: var(--beige);
}

.card.card-spotlight {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    border: none;
    border-radius: 0 !important;
}

.tag-news {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    color: var(--dusk);
    background-color: var(--off-white);
    width: 75%;
}

.card-spotlight .tag-news {
    width: 30%;
}

#blog-news-container .card.card-thumb {
    background-color: transparent;
    border: none;
    border-radius: 0 !important;
}

#authors-container .card-deck .card {
    background-color: transparent;
    border: none;
    border-radius: 0 !important;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.59;
    letter-spacing: 0.3px;
    color: var(--greyish-brown);
}

.explore {
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--off-white);
}

.explore-h2-underscore {
    height: 1px;
    opacity: 0.5;
    background-color: var(--beige);
}

.explore-menu .nav-item.explore-btn {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    height: 34px;
    letter-spacing: 1px;
    text-align: center;
    color: var(--dusk);
    border-radius: 24px;
    background-color: var(--beige);
}

.explore-btn {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    height: 34px;
    letter-spacing: 1px;
    text-align: center;
    color: var(--dusk);
    border-radius: 24px;
    background-color: var(--beige);
}

.explore-menu .nav-item {
    opacity: 0.6;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: 2.8px;
    text-align: center;
    color: var(--dusk);
    background-color: transparent;
}

.explore-menu .nav-item.active {
    background-color: transparent;
    color: var(--dusk);
}

#footer-container .home-footer-border {
    border-bottom: 1px solid var(--beige);
}

#footer-container .nav-link:hover,
.nav-link:focus {
    text-decoration: underline;
}

.copywrite {
    line-height: 4;
}

.bg-newsletter {
    background-color: var(--dusk);
}

.sextante-icone-flag {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -27px;
}

.h1-underscore {
    width: 90px;
    height: 2px;
    background-color: var(--beige);
}

#btn-search-border-right {
    border-right: 3px solid var(--beige) !important;
    background-color: transparent !important;
    background-image: none !important;
}

.arrow-inverse {
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.author-name {
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.59;
    letter-spacing: 0.3px;
    text-align: center;
    color: var(--greyish-brown);
}